# Ignore the database files
node/db

# Ignore logs
node/logs

# Ignore node_modules
node/node_modules
node/cache

# Ignore environment files
.env.local

docs
logs
clinet_docs
.vscode
.roo
temp
scripts/.pytest_cache
scripts/.benchmarks
scripts/tests/__pycache__